Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

OBJECTIVES:

- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- DATA SCIENCE TOOLS
- Arithmatic expressions

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL
4. JAVA
5. JAVA SCRIPT

Some of the commonly used libraries used by Data Scientists include:

1. SCIKIT - LEARN
2. TENSORFLOW
3. PYTORCH
4. NUMPY
5. PANDAS
6. KERAS

DATA SCIENCE TOOLS:-

1. MYSQL
2. MANGODB
3. COUCHDB
4. CASSANDRA
5. HADOOP
6. CEPH
7. APACHE KAFKA
8. SPARK SQL
9. TENSORFLOW SERVING
10. HUE

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
minutes=200
 
# This will convert 200 minutes to hours by diving by 60

hour = minutes//60
left_minutes = minutes%60

print(" hours = " , hour)
print(" minutes = ", left_minutes)

 hours =  3
 minutes =  20

SANGARAJU SAI SATHVIK VARMA